$primaryColor: #884dff;
$secondaryColor: #e3e0f5;
$primaryBlack: #2d2727;
$primaryWhite: #e3e1fa;
$primaryDark: #100126;


:export {
    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
    primaryBlack: $primaryBlack;
    primaryWhite: $primaryWhite;
    primaryDark: $primaryDark;
}
