$primaryColor: #7455ff;
$primaryBlue: #0ccde8;
$primaryBlack: #171a1c;
$primaryWhite: #e3e1fa;
$primaryDark: #0c001f;
$primaryGreen: #609966;
$secondaryColor: #e4058e;
$secondaryTextColor: #ff8729;

$themePrimaryColor: #f2a71b;
$themePrimaryBlue: #0ccde8;
$themePrimaryBlack: #171a1c;
$themePrimaryWhite: #e3e1fa;
$themePrimaryDark: #594114;
$themePrimaryGreen: #609966;
$themeSecondaryColor: #e4058e;
$themeSecondaryTextColor: #f28705;

:export {
    primaryColor: $primaryColor;
    primaryBlue: $primaryBlue;
    primaryBlack: $primaryBlack;
    primaryWhite: $primaryWhite;
    primaryDark: $primaryDark;
    primaryGreen: $primaryGreen;
    secondaryColor: $secondaryColor;
    secondaryTextColor: $secondaryTextColor;

    themePrimaryColor: $themePrimaryColor;
    themePrimaryBlue: $themePrimaryBlue;
    themePrimaryBlack: $themePrimaryBlack;
    themePrimaryWhite: $themePrimaryWhite;
    themePrimaryDark: $themePrimaryDark;
    themePrimaryGreen: $themePrimaryGreen;
    themeSecondaryColor: $themeSecondaryColor;
    themeSecondaryTextColor: $themeSecondaryTextColor;
}
