$primaryColor: #884dff;
$primaryBlue: #0ccde8;
$primaryBlack: #171a1c;
$primaryWhite: #e3e1fa;
$primaryDark: #100126;
$primaryGreen: #609966;
$secondaryColor: #e4058e;
$secondaryTextColor: #f29829;

:export {
    primaryColor: $primaryColor;
    primaryBlue: $primaryBlue;
    primaryBlack: $primaryBlack;
    primaryWhite: $primaryWhite;
    primaryDark: $primaryDark;
    primaryGreen: $primaryGreen;
    secondaryColor: $secondaryColor;
    secondaryTextColor: $secondaryTextColor;
}
