@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf"); }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf"); }
@font-face {
  font-family: Moonfark;
  src: url("../fonts/Moonfark/moonfark.ttf"); }
@font-face {
  font-family: Pharaoh;
  src: url("../fonts/Pharaoh/AlphacodePharaohRegular.ttf"); }
:export {
  primaryColor: #7455ff;
  primaryBlue: #0ccde8;
  primaryBlack: #171a1c;
  primaryWhite: #e3e1fa;
  primaryDark: #0c001f;
  primaryGreen: #609966;
  secondaryColor: #e4058e;
  secondaryTextColor: #ff8729;
  themePrimaryColor: #f2a71b;
  themePrimaryBlue: #0ccde8;
  themePrimaryBlack: #171a1c;
  themePrimaryWhite: #e3e1fa;
  themePrimaryDark: #594114;
  themePrimaryGreen: #609966;
  themeSecondaryColor: #e4058e;
  themeSecondaryTextColor: #f28705; }

body {
  background-color: #0c001f;
  color: #e3e1fa;
  filter: blur(0);
  transition: filter 1s; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto !important; } }

* {
  font-family: "Lato", Arial, sans-serif;
  font-display: auto; }

.glass-header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid #ffffff33;
  padding: 2px 0; }
  .glass-header .nav-row {
    height: 40px; }
  .glass-header .nav-links .links div a {
    text-shadow: 0 0 5px #2125298c; }
  .glass-header .header-logo {
    width: 25px; }
  .glass-header .logo-loader {
    top: -10px;
    width: 20px;
    height: 20px; }

.main-nav {
  position: sticky;
  top: 0;
  z-index: 2;
  transition: 200ms; }
  .main-nav .container .row {
    align-items: center; }
  .main-nav .nav-links {
    display: flex;
    justify-content: flex-end; }
    .main-nav .nav-links .links {
      display: flex;
      justify-content: space-between;
      width: 50%; }
      .main-nav .nav-links .links div {
        margin: 0 0 0 20px; }
        .main-nav .nav-links .links div a {
          color: #e3e1fa;
          font-weight: bold !important;
          font-size: 18px;
          transition: 350ms ease-in-out; }
          .main-nav .nav-links .links div a:hover {
            animation: borderSlide 2s;
            color: #7455ff; }
        .main-nav .nav-links .links div a.active {
          color: #7455ff; }
        .main-nav .nav-links .links div:last-of-type {
          margin-top: 3px; }

.nav-icon {
  display: none;
  cursor: pointer; }
  .nav-icon .menu-burger-icon {
    display: block;
    float: right; }
    .nav-icon .menu-burger-icon .check-icon {
      display: flex;
      flex-direction: column;
      width: 40px;
      cursor: pointer; }
      .nav-icon .menu-burger-icon .check-icon span {
        background: #e3e1fa;
        border-radius: 10px;
        height: 4px;
        margin: 4px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      .nav-icon .menu-burger-icon .check-icon span:nth-of-type(1) {
        width: 50%;
        margin-left: 17px; }
      .nav-icon .menu-burger-icon .check-icon span:nth-of-type(2) {
        width: 100%; }
      .nav-icon .menu-burger-icon .check-icon span:nth-of-type(3) {
        width: 75%;
        margin-left: 4px; }
      .nav-icon .menu-burger-icon .check-icon input[type="checkbox"] {
        display: none; }
      .nav-icon .menu-burger-icon .check-icon input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        margin-left: 0;
        transform: rotateZ(45deg) translate(8px, 0); }
      .nav-icon .menu-burger-icon .check-icon input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotateZ(-45deg); }
      .nav-icon .menu-burger-icon .check-icon input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: bottom;
        margin-left: 0;
        width: 50%;
        transform: translate(17px, -7px) rotateZ(45deg); }

.bordered-link {
  border: 2px solid;
  border-radius: 15px;
  padding: 4px 12px;
  font-size: 16px !important; }

@media screen and (max-width: 767px) {
  .main-logo {
    padding-left: 5%; }

  .landing-icon {
    display: none; }

  .nav-links {
    position: fixed;
    display: none !important;
    background-color: #100126;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0;
    top: 0;
    left: 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: 1000; }
    .nav-links .links {
      height: 100vh;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      display: grid !important;
      padding: 30% 0;
      align-items: center !important;
      justify-content: center !important;
      background-color: #0c001f;
      align-content: baseline; }
      .nav-links .links div {
        display: none;
        margin: 15px 0; }
        .nav-links .links div a {
          font-size: 35px !important; }
        .nav-links .links div:last-of-type {
          margin-top: 0 !important; }

  .nav-icon {
    padding: 0;
    display: block;
    z-index: 1001; }

  .bordered-link {
    border: 0;
    border-radius: unset;
    padding: unset;
    font-size: auto; } }
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slideToLeft {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-100%); } }
.bg-home-even,
.bg-home-odd {
  padding: 1% 0 3% 0;
  text-align: center;
  position: relative;
  overflow: hidden; }

.bg-home-even {
  background-color: #0c001f;
  background: linear-gradient(180deg, #0c001f 75%, #171a1c 100%); }

.bg-home-odd {
  background-color: #171a1c;
  background: linear-gradient(180deg, #171a1c 85%, #0c001f 100%); }

.home-content > div:last-of-type {
  background: #171a1c; }

.width-fit-content {
  width: fit-content;
  max-width: fit-content; }

.bg-main {
  background-color: #7455ff; }

.bg-second {
  background-color: #e3e1fa; }

.bg-main-dark {
  background-color: #0c001f; }

.bg-main-white {
  background-color: #e3e1fa; }

.text-main-dark {
  color: #0c001f; }

.text-main-white {
  color: #e3e1fa; }

.no-link {
  color: #f7f7f7;
  text-decoration: none; }
  .no-link:hover {
    text-decoration: none; }

.text-reset {
  text-decoration: none; }

.main-logo {
  font-size: 25px; }
  .main-logo span:first-of-type {
    color: #f7f7f7; }
  .main-logo span:nth-of-type(2) {
    color: green; }
  .main-logo span:last-of-type {
    color: #f7f7f7; }

.main-background-cover {
  background-color: #0c001f;
  width: 100%;
  height: 100vh; }

.blur-background {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(100px);
  z-index: 0;
  overflow: hidden; }

.top-content {
  padding-top: 13vh;
  z-index: 1;
  position: relative; }

.mode-icon {
  width: 25px; }

.switch-button-content .switch-button {
  user-select: none;
  background-color: #0e0e0e;
  text-align: center;
  border-radius: 7px;
  padding: 10px 0;
  overflow: hidden;
  cursor: pointer;
  transition: 500ms ease-in-out; }
  .switch-button-content .switch-button .stars-svg-container {
    position: relative; }
    .switch-button-content .switch-button .stars-svg-container .stars-svg {
      width: 15px;
      position: absolute;
      animation: rotator 25s ease infinite forwards; }
      .switch-button-content .switch-button .stars-svg-container .stars-svg path {
        stroke: none;
        animation: starFade 2s ease-in-out infinite forwards; }
  .switch-button-content .switch-button.default {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c001f;
    box-shadow: -2px -2px 5px #283593; }
    .switch-button-content .switch-button.default span {
      font-family: "Lato", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      color: #e3e1fa;
      background: unset;
      -webkit-background-clip: unset;
      -moz-background-clip: unset;
      background-clip: unset; }
  .switch-button-content .switch-button span {
    position: relative;
    font-family: "Moonfark", Arial, sans-serif;
    font-size: 25px;
    color: transparent;
    background: linear-gradient(90deg, #224160 10%, #92b8de 15%, #224160 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 1s ease-in-out; }
  .switch-button-content .switch-button:hover {
    box-shadow: 5px 4px 9px #000000bf, inset 2px 4px 7px #ffffff1a;
    transform: scale(1.01); }
  .switch-button-content .switch-button:hover span {
    filter: drop-shadow(-1px 1px 2px #75adfb59); }

@keyframes starFade {
  0% {
    filter: drop-shadow(0 0 0 #fff); }
  50% {
    filter: drop-shadow(0 0 2px #fff); }
  100% {
    filter: drop-shadow(0 0 0 #fff); } }
@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
.top-home-details {
  display: grid;
  height: 85%;
  align-items: center; }
  .top-home-details h1 {
    font-size: 3.5rem;
    font-weight: bold; }
    .top-home-details h1 .gradient-text {
      color: transparent;
      background-image: linear-gradient(90deg, #0ccde8 0, #e4058e 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text; }
    .top-home-details h1 span {
      position: relative; }
    .top-home-details h1 span:nth-of-type(1) {
      animation: fadeSlideText 1200ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
    .top-home-details h1 span:nth-of-type(2) {
      animation: fadeSlideText 1500ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .top-home-details h4 {
    position: relative;
    color: #e3e1fa;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    animation: fadeSlideText 1700ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .top-home-details p {
    color: #e3e1fa;
    font-size: 23px; }
    .top-home-details p span {
      background: linear-gradient(transparent 50%, #7455ff 15px);
      display: inline;
      white-space: pre-wrap;
      background-position: right bottom;
      font-weight: bold; }

@keyframes fadeSlideText {
  0% {
    opacity: 0;
    left: -25%;
    text-shadow: 0 0 5px #e3e1fa; }
  100% {
    opacity: 1;
    left: 0;
    text-shadow: unset; } }
@media screen and (max-width: 767px) {
  .main-background-cover .top-content {
    padding-top: 1vh; }
  .main-background-cover .blur-background {
    visibility: hidden; }
  .main-background-cover .top-home-details h1 {
    font-size: 2.5rem;
    font-weight: bold; }
  .main-background-cover .top-home-videos {
    padding-top: 20px; }
  .main-background-cover .top-home-videos video {
    width: 100%; } }
/* Global Styles for small screens */
@media screen and (max-width: 767px) {
  .mt-sm-0 {
    margin-top: 0rem !important; }

  .mb-sm-0 {
    margin-bottom: 0rem !important; }

  .ms-sm-0 {
    margin-left: 0rem !important; }

  .me-sm-0 {
    margin-right: 0rem !important; }

  .mt-sm-1 {
    margin-top: 1rem !important; }

  .mb-sm-1 {
    margin-bottom: 1rem !important; }

  .ms-sm-1 {
    margin-left: 1rem !important; }

  .me-sm-1 {
    margin-right: 1rem !important; }

  .mt-sm-2 {
    margin-top: 2rem !important; }

  .mb-sm-2 {
    margin-bottom: 2rem !important; }

  .ms-sm-2 {
    margin-left: 2rem !important; }

  .me-sm-2 {
    margin-right: 2rem !important; }

  .mt-sm-3 {
    margin-top: 3rem !important; }

  .mb-sm-3 {
    margin-bottom: 3rem !important; }

  .ms-sm-3 {
    margin-left: 3rem !important; }

  .me-sm-3 {
    margin-right: 3rem !important; }

  .mt-sm-4 {
    margin-top: 4rem !important; }

  .mb-sm-4 {
    margin-bottom: 4rem !important; }

  .ms-sm-4 {
    margin-left: 4rem !important; }

  .me-sm-4 {
    margin-right: 4rem !important; }

  .mt-sm-5 {
    margin-top: 5rem !important; }

  .mb-sm-5 {
    margin-bottom: 5rem !important; }

  .ms-sm-5 {
    margin-left: 5rem !important; }

  .me-sm-5 {
    margin-right: 5rem !important; }

  .mt-sm-6 {
    margin-top: 6rem !important; }

  .mb-sm-6 {
    margin-bottom: 6rem !important; }

  .ms-sm-6 {
    margin-left: 6rem !important; }

  .me-sm-6 {
    margin-right: 6rem !important; } }
.transparent-button {
  background-color: transparent;
  border: 0;
  outline: 0; }

.discover-more-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto; }
  .discover-more-btn .discover-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #e3e1fa;
    border-radius: 1.625rem; }
    .discover-more-btn .discover-circle .discover-icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      color: #171a1c;
      top: 27%;
      right: 25%;
      font-size: 21px; }
  .discover-more-btn .discover-button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2.85rem;
    color: #e3e1fa;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase; }
  .discover-more-btn:hover .discover-circle {
    width: 100%; }
  .discover-more-btn:hover .discover-icon {
    margin: 0;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    right: 5%;
    top: 30%; }
  .discover-more-btn:hover .discover-button-text {
    margin: 0 10px 0px 0px;
    color: #171a1c; }

@keyframes discoverAnimate {
  0% {
    right: 0%; }
  100% {
    right: 43%; } }
.social-icons .social-link {
  font-size: 20px; }
.social-icons .social-link-1 svg {
  fill: #0961b8; }
.social-icons .social-link-2 svg {
  fill: #343a40; }
.social-icons .social-link-3 svg {
  fill: #e87921; }
.social-icons .social-link-4 svg {
  fill: #0053f2; }
.social-icons .social-link-5 svg {
  fill: #808080; }
.social-icons .social-link-6 svg {
  fill: #1877f2; }
.social-icons .social-link-7 svg {
  fill: #1da1f2; }
.social-icons .social-link-8 svg {
  fill: #833ab4; }

.glass-effect {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.31); }

.contact-container {
  margin-top: 15px; }
  .contact-container .contact-form {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #0c001f1f;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 20px; }
  .contact-container .contact-image-container,
  .contact-container .contact-form-container {
    height: 75vh !important; }
  .contact-container .contact-form-container {
    position: relative; }
  .contact-container .contact-form-container .contact-form {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0; }
  .contact-container .contact-image-container img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .contact-container .form-label b {
    border-bottom: 3px dotted #7455ff;
    padding-bottom: 1px; }

.form-custom-control {
  background-color: transparent;
  color: #e3e1fa;
  border-color: #e3e1fa; }
  .form-custom-control::placeholder {
    color: #e3e1fa;
    font-weight: bold; }
  .form-custom-control:active, .form-custom-control:focus, .form-custom-control:focus-visible {
    background-color: transparent;
    color: #e3e1fa;
    box-shadow: 0 0 0 0.15rem #884dff4f;
    border-color: #7455ff; }
  .form-custom-control:disabled {
    background-color: #10012670; }

.custom-form-select {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #e3e1fa;
  color: #e3e1fa;
  font-weight: bold;
  border-radius: 5px; }
  .custom-form-select:active, .custom-form-select:focus, .custom-form-select:focus-visible {
    box-shadow: 0 0 0 0.15rem #884dff4f;
    border-color: #7455ff;
    outline: 0; }
  .custom-form-select:disabled {
    background-color: #10012670; }
  .custom-form-select option {
    margin: 40px;
    background: #0c001f;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }

@media screen and (max-width: 992px) {
  .contact-container {
    position: relative;
    overflow: hidden; }
    .contact-container .contact-image-container,
    .contact-container .contact-form-container,
    .contact-container .contact-image-container img {
      height: 100% !important; }
    .contact-container .contact-image-container img {
      filter: brightness(0.4); }

  .contact-image-container {
    padding: 0 !important;
    margin-left: 7px;
    border-radius: 15px; }

  .contact-form {
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important; }

  .contact-image-container {
    position: absolute;
    z-index: -1; }

  .contact-form-container {
    padding-right: 1rem !important; }
    .contact-form-container button {
      width: 100%; } }
.side-skill {
  width: fit-content;
  max-width: 25px;
  max-height: 25px; }

.home-blogs .blog-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.blog-item .blog-card {
  box-shadow: 0 0 7px #ffffff8c;
  border: 0; }
.blog-item .card {
  max-height: 480px;
  min-height: 480px;
  height: 480px;
  box-shadow: inset -1px -4px 20px #00000054;
  background-color: #e3e1fa; }
  .blog-item .card .blog-skills {
    display: grid;
    align-items: end; }
.blog-item a,
.blog-item p {
  color: #0d161e;
  text-decoration: none; }
.blog-item .blog-title {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.blog-item .blog-description {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.blog-item:hover .card-img-top {
  transform: scale(1.1) rotateZ(0.5deg); }
.blog-item .blog-card-image-container {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 200px;
  overflow: hidden; }
  .blog-item .blog-card-image-container img {
    height: 200px;
    transition: 650ms; }
.blog-item .blog-date {
  font-weight: bold;
  color: #ff8729;
  text-align: right; }

.spinner {
  animation: spinner 1s infinite linear; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.header-logo {
  width: 30px; }

.contact-image {
  width: 100%;
  height: 100%; }

.project-image-container {
  text-align: center; }

.project-image {
  height: 195px;
  transition: 250ms; }
  .project-image:hover {
    transform: scale(1.055) translateZ(20px) rotateZ(1deg) rotateX(1deg) rotateY(-1deg); }

.project-title {
  text-align: center; }

.project-title,
.project-description {
  color: #e3e1fa;
  text-align: center; }

.project-skill-icon {
  width: 25px;
  height: 25px; }

.home-experiences {
  overflow: hidden; }
  .home-experiences .experience-h-line {
    width: 5%;
    display: grid;
    align-items: center; }
    .home-experiences .experience-h-line .h-line {
      display: block;
      height: 3px;
      border: 0;
      background-color: #a4508b;
      background-image: linear-gradient(90deg, #a4508b, #5f0a87 74%);
      padding: 0; }
  .home-experiences .experience-v-line {
    width: 5%;
    display: grid;
    align-items: center; }
    .home-experiences .experience-v-line .v-line {
      background-color: #a4508b;
      background-image: linear-gradient(0deg, #a4508b, #5f0a87 74%);
      height: 76%;
      width: 3px;
      position: absolute;
      top: 50%;
      right: 50%;
      z-index: 0; }
  .home-experiences .experience {
    display: flex;
    justify-content: center;
    margin: 30px 0; }
    .home-experiences .experience .experience-details {
      display: flex;
      border-radius: 10px;
      width: 60%;
      z-index: 1;
      box-shadow: -2px 5px 15px #00000054;
      overflow: hidden; }
    .home-experiences .experience .experience-date {
      background-color: #a4508b;
      background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
      color: #ffffffe3;
      font-weight: bold;
      display: grid;
      align-items: center;
      text-align: center;
      width: 20%;
      padding: 15px; }
    .home-experiences .experience .experience-info {
      color: #e3e1fa;
      background-color: #0c001f;
      font-weight: bold;
      padding: 15px;
      width: 80%; }
      .home-experiences .experience .experience-info .experience-title {
        color: #9c27b0;
        font-weight: bold;
        margin-bottom: 2px; }
      .home-experiences .experience .experience-info .experience-description {
        font-size: 14px; }
      .home-experiences .experience .experience-info .experience-content {
        background-color: #ffffff00 !important;
        color: #e3e1fa !important; }
    .home-experiences .experience .experience-image {
      position: relative;
      width: 8%;
      display: grid;
      align-items: center; }
      .home-experiences .experience .experience-image .experience-company-logo img {
        position: relative;
        background-color: #e3e1fa;
        z-index: 1;
        width: 90px;
        height: 90px;
        max-width: 90px;
        min-height: 90px;
        max-height: 90px;
        border-radius: 50%;
        box-shadow: -2px 3px 5px #00000066; }
  .home-experiences .experience-even {
    direction: rtl; }
    .home-experiences .experience-even .experience-details {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
      .home-experiences .experience-even .experience-details .experience-info {
        direction: ltr;
        text-align: left; }
    .home-experiences .experience-even .h-line {
      background-image: linear-gradient(327deg, #a4508b, #5f0a87 74%); }
  .home-experiences .experience-odd .experience-details {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .home-experiences .experience-odd .experience-details .experience-info {
      text-align: left; }

@media screen and (max-width: 767px) {
  .home-experiences .experience {
    display: grid;
    justify-content: normal; }
    .home-experiences .experience .experience-details {
      width: 100%;
      display: grid;
      order: 2;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .home-experiences .experience .experience-company-logo {
      margin-bottom: 10%; }
    .home-experiences .experience .experience-image {
      order: 1;
      width: 100%;
      margin: 0 auto; }
    .home-experiences .experience .experience-h-line {
      display: none; }

  .home-experiences .experience-details {
    display: grid; }
    .home-experiences .experience-details .experience-info {
      width: 100%; }
    .home-experiences .experience-details .experience-date {
      width: 100%; } }
.blog-page {
  margin-top: 5vh; }
  .blog-page .blog-details .blog-title {
    color: #7455ff;
    border-bottom: 2px solid #7455ff;
    height: fit-content; }
  .blog-page .blog-details .blog-image {
    width: 100%;
    height: 350px;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: -2px -2px 6px #ffffff3d; }
  .blog-page .blog-content {
    border-left: 4px solid #7455ff;
    border-radius: 10px;
    padding-left: 10px;
    overflow: hidden; }
  .blog-page .blog-info {
    display: grid; }

.d-grid {
  display: grid; }

.font-weight-bold {
  font-weight: bold; }

.badge-secondary {
  background-color: #e3e1fa;
  color: #0c001f;
  box-shadow: 3px 4px 3px #0009;
  transition: 0.2s ease; }
  .badge-secondary:hover, .badge-secondary:active {
    transform: translateY(-2px);
    box-shadow: -3px -2px 7px #e3e1fa6b; }

.contact-form {
  transition: 500ms ease-in-out; }

.contact-form.disabled {
  filter: blur(2px);
  opacity: 0.5; }

.contact-form.enabled {
  filter: blur(0);
  opacity: 1; }

.contact-form-loader,
.contact-form-success {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%; }
  .contact-form-loader div,
  .contact-form-success div {
    height: 100%; }

.contact-form-success div {
  width: 75%;
  margin: 0 auto; }

@keyframes blurIn {
  0% {
    filter: blur(0);
    opacity: 1; }
  100% {
    filter: blur(2px);
    opacity: 0.5; } }
@keyframes blurOut {
  0% {
    filter: blur(2px);
    opacity: 0.5; }
  100% {
    filter: blur(0);
    opacity: 1; } }
.flash-effect {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #212529;
  opacity: 0; }

.social-links {
  border-bottom: 1px solid #ffffff21; }

.category-details .category-name {
  display: flex; }
  .category-details .category-name .category-icon {
    width: 35px;
    height: 35px; }
  .category-details .category-name h4 {
    display: flex;
    align-items: center; }
    .category-details .category-name h4 svg {
      margin-right: 5px; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.skill-card {
  border: 0;
  border-radius: 5px;
  padding: 10px; }
  .skill-card .img-container {
    position: relative; }
    .skill-card .img-container .skill-img {
      position: absolute;
      top: -40px;
      right: -24px;
      filter: drop-shadow(2px 4px 3px #000);
      width: 15%; }

.custom-hr {
  border-top: 2px solid; }

.text-hack-animation:hover {
  background: linear-gradient(271deg, rgba(227, 225, 250, 0.2693452381) 0%, #e3e1fa 100%);
  color: #0c001f; }

.blog-filter {
  display: flex;
  align-items: center; }
  .blog-filter button {
    margin: 0 5px; }
    .blog-filter button span {
      background-color: #e3e1fa;
      color: #0c001f;
      padding: 0 5px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: -10px; }
    .blog-filter button:hover span {
      background-color: #0c001f;
      color: #e3e1fa;
      box-shadow: 2px -4px 6px #ffffff5e; }
  .blog-filter::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent; }
  .blog-filter::-webkit-scrollbar-thumb {
    background-color: transparent; }

@media screen and (max-width: 767px) {
  .blog-filter {
    overflow-y: scroll;
    width: 100%;
    padding-top: 10px; }
    .blog-filter button {
      min-width: fit-content; } }
.reveal-fade {
  opacity: 1 !important;
  transform: none !important; }

.not-found-content {
  border-radius: 10px;
  padding-top: 10vh;
  text-align: center; }
  .not-found-content img.not-found {
    border-radius: 10px;
    max-height: 300px;
    max-width: 575px;
    width: 100%;
    height: 100%; }
  .not-found-content h1,
  .not-found-content p {
    font-family: monospace;
    margin-top: 2%; }

.btn-main-light {
  border: 1px solid #e3e1fa;
  background-color: #e3e1fa;
  color: #0c001f; }
  .btn-main-light:hover {
    background-color: #0c001f;
    color: #e3e1fa;
    box-shadow: -3px -2px 7px #ffffff8f; }

.badge-main-dark {
  display: contents;
  background-color: #0c001f;
  color: #e3e1fa; }

.btn-counter {
  position: absolute; }

.mt-15 {
  margin-top: 15%; }

.skills {
  position: relative;
  overflow: hidden; }
  .skills svg {
    z-index: 0; }
  .skills .container {
    position: relative;
    z-index: 1; }
  .skills .skills-major-container {
    padding: 5px 0; }
    .skills .skills-major-container .skills-major {
      margin-top: 3%; }
  .skills .skills-details-container {
    padding: 5px 0; }
    .skills .skills-details-container .category-skills .skills-list {
      margin: 0; }

.skills-loader-canvas {
  text-align: center; }

.features .feature-item {
  margin-top: 10px; }
  .features .feature-item .feature-image {
    width: 60px;
    height: 60px; }

.side-skills .side-skills-item .card {
  background-color: #2e194e;
  box-shadow: -2px -2px 5px #e6b7f561;
  color: #e3e1fa; }
.side-skills .side-skills-item .skills .side-skill-icon {
  width: 25px;
  height: 25px; }
.side-skills .side-skills-item .side-skills-image {
  width: 50px;
  height: 50px; }

@media screen and (max-width: 767px) {
  .skill-card .img-container .skill-img {
    top: -115px;
    right: 10px; } }
.project-box {
  text-align: center; }
  .project-box .project-description {
    background: linear-gradient(transparent 50%, #c9c9c92e 15px);
    display: inline;
    white-space: pre-wrap;
    background-position: right bottom;
    text-align: center; }

.project-page .project-content img {
  max-width: -webkit-fill-available; }
.project-page .project-skills img.project-skill {
  width: 35px;
  height: 35px; }
.project-page .project-title,
.project-page .project-description {
  text-align: left; }
.project-page .project-images-container {
  position: relative;
  text-align: center;
  overflow: hidden; }
  .project-page .project-images-container .laptop-mockup {
    width: 90%;
    z-index: 1;
    position: relative; }
  .project-page .project-images-container .project-item-image {
    width: 23rem;
    height: 15rem;
    border-radius: 10px; }
    .project-page .project-images-container .project-item-image .inactive {
      filter: blur(1px); }
    .project-page .project-images-container .project-item-image .active {
      filter: blur(0); }
  .project-page .project-images-container .project-images {
    position: absolute;
    top: 10px;
    display: flex;
    overflow: hidden;
    gap: 40px; }

@media screen and (max-width: 1200px) {
  .project-item-image {
    width: 19.7rem !important;
    height: 12rem !important;
    transform: translateX(-43px); } }
@media screen and (max-width: 992px) {
  .project-item-image {
    width: 14.7rem !important;
    height: 9rem !important;
    transform: translateX(-103px); } }
@media screen and (max-width: 768px) {
  .project-item-image {
    width: 22rem !important;
    height: 14rem !important;
    transform: translateX(-16px); } }
@media screen and (max-width: 576px) {
  .laptop-mockup {
    width: 220px;
    max-width: 220px;
    min-width: 220px; }

  .project-page .project-images-container .project-images {
    top: 5px; }

  .project-images-container {
    min-width: 220px;
    width: 300px;
    margin: 0 auto; }

  .project-item-image {
    width: 170px !important;
    height: 105px !important;
    transform: translateX(-33px); } }
.splide__arrows.splide__arrows--ltr {
  z-index: 1;
  position: relative;
  top: 50%; }

.overflow-hidden {
  overflow: hidden; }

footer {
  background-color: #0c001f; }

footer.home-footer {
  background: linear-gradient(360deg, #0c001f 0%, #171a1c 100%); }

.footer-container {
  position: relative; }

.footer-svg-container {
  opacity: 0.4; }

.footer-name-container .name-svg {
  position: absolute;
  width: 130px;
  left: 0;
  top: 60%; }
  .footer-name-container .name-svg path {
    stroke: #e3e1fa;
    fill: none;
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; }

@media screen and (max-width: 767px) {
  .footer-name-container .name-svg {
    left: 2%; } }
.footer-details .user-profile,
.footer-details .pages-map,
.footer-details .user-info {
  text-align: left; }
@media screen and (max-width: 767px) {
  .footer-details .pages-map,
  .footer-details .user-info {
    border-top: 1px solid #ffffff21;
    padding-top: 15px; }
  .footer-details .user-profile h6,
  .footer-details .pages-map h6,
  .footer-details .user-info h6 {
    margin-bottom: 15px !important; } }

@keyframes handwriting {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }
.handwritten-svg {
  width: 500px;
  height: 500px; }

.handwritten-svg path {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3s linear forwards; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
.home-title {
  color: #e3e1fa;
  font-weight: bold;
  padding-bottom: 2%; }
  .home-title span {
    color: #7455ff; }

.circles-pattern .cls-2 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.6px; }

.more-skills-icon {
  font-weight: bold;
  color: #e3e1fa;
  text-align: center;
  background-image: linear-gradient(62deg, #fbab7e 0%, #ff8729 100%);
  border-radius: 41px;
  box-shadow: 0 0 8px #f298298a, inset 0 0 8px #100126b3;
  width: fit-content;
  padding: 6px 4px;
  cursor: pointer;
  min-width: 32px;
  font-size: 13px;
  text-shadow: 0 0 4px #0c001f; }
  .more-skills-icon span {
    font-size: 13px;
    line-height: 1.2; }

.center-content {
  align-items: center;
  display: grid;
  justify-content: center; }

.side-alert {
  position: fixed; }

.font-18 {
  font-size: 18px !important; }

.cursor-pointer {
  cursor: pointer; }

.half-circle-pattern {
  z-index: 1; }

.ml-auto {
  margin-left: auto; }

.project-duration {
  font-size: 13px;
  font-weight: bold; }
  .project-duration span {
    font-family: "Moonfark", Arial, sans-serif; }

.title-line {
  border-top: 3px dashed;
  border-radius: 3px;
  width: 65%;
  color: #7455ff;
  opacity: 1; }

.logo-loader-container {
  position: relative; }

.logo-loader {
  position: absolute;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #e3e1fa; }

.logo-loader:nth-of-type(2) {
  transform: rotateZ(180deg); }

.logo-loader:before,
.logo-loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite; }

.logo-loader:after {
  color: #609966;
  transform: rotateY(70deg);
  animation-delay: 0.4s; }

.top-home-videos video {
  display: block;
  width: 560px; }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg); }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg); } }
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }
@keyframes spin {
  0%,
    100% {
    box-shadow: 0.2em 0px 0 0px currentcolor; }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor; }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor; }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor; }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor; }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor; }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor; }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor; } }
.smooth-hover {
  transition: 250ms ease-in-out; }
  .smooth-hover:hover {
    opacity: 0.7; }

.help-cursor {
  cursor: help; }

.theme-transition-container {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #171a1c;
  display: none; }
  .theme-transition-container .glitched-text {
    background-color: #010c1d;
    height: 100%;
    font-size: 14px;
    width: 100%;
    box-shadow: inset 0 0 15px 13px #000;
    font-family: monospace;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    overflow: hidden;
    opacity: 0.7; }
  .theme-transition-container .pharaoh-container {
    position: relative;
    height: 100vh;
    opacity: 0.7; }
    .theme-transition-container .pharaoh-container p {
      font-family: Pharaoh;
      font-size: 18px;
      color: #daa520;
      text-shadow: 5px 4px 7px #daa520; }
    .theme-transition-container .pharaoh-container img {
      width: 150px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      top: 25vh;
      right: 0;
      text-align: center; }

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    text-transform: capitalize; }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00; }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    text-transform: none; }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00; }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    text-transform: capitalize; }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00; }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00; } }
.empty-skill-content h5 {
  font-family: Courier, monospace; }

.dotted-square-svg .cls-2 {
  stroke-miterlimit: 10;
  stroke-width: 0.89px; }

.content,
.skills,
.bg-home-even .container,
.bg-home-odd .container {
  background-size: 635px;
  background-image: url("../images/textures/stars.png"); }

.splide__list .blog-item {
  width: 100%; }

/*  =============================================================================================
                        Custom Styles for pharaoh theme
    =============================================================================================
*/
.pharaoh-mode {
  background-color: #594114; }
  .pharaoh-mode .content,
  .pharaoh-mode .skills,
  .pharaoh-mode .bg-home-even .container,
  .pharaoh-mode .bg-home-odd .container {
    background-size: 635px;
    background-image: url("../images/textures/pharaoh.png"); }
  .pharaoh-mode * {
    cursor: url("../images/scepter-cursor.png"), auto; }
  .pharaoh-mode .logo-loader:after {
    color: #f2a71b; }
  .pharaoh-mode .blur-background svg:first-of-type circle {
    fill: #ffe800; }
  .pharaoh-mode .blur-background svg:nth-of-type(2) circle {
    fill: #fff; }
  .pharaoh-mode .main-nav .nav-links .links div a {
    color: #e3e1fa; }
    .pharaoh-mode .main-nav .nav-links .links div a:hover {
      color: #f2a71b; }
  .pharaoh-mode .main-nav .nav-links .links div a.active {
    color: #f2a71b; }
  @media screen and (max-width: 767px) {
    .pharaoh-mode .nav-links,
    .pharaoh-mode .links {
      background-color: #594114; } }
  .pharaoh-mode .top-home-details h1 .gradient-text {
    color: transparent;
    background-image: linear-gradient(90deg, #e3e1fa 0, #f28705 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .pharaoh-mode .top-home-details p span {
    background: linear-gradient(transparent 50%, #f2a71b 15px);
    color: #fff; }
  .pharaoh-mode .main-background-cover {
    background-color: #594114; }
  .pharaoh-mode .switch-button-content .switch-button.default {
    background-color: #594114;
    box-shadow: -1px -1px 4px #f2a71b; }
  .pharaoh-mode .bg-home-even {
    background-color: #594114;
    background: linear-gradient(180deg, #594114 75%, #171a1c 100%); }
  .pharaoh-mode .bg-home-odd {
    background-color: #171a1c;
    background: linear-gradient(180deg, #171a1c 85%, #594114 100%); }
  .pharaoh-mode .bg-main-dark {
    background-color: #594114; }
  .pharaoh-mode .text-main-dark {
    color: #594114; }
  .pharaoh-mode .home-experiences .experience-h-line .h-line {
    background-color: #3e1d02;
    background-image: linear-gradient(90deg, #ff8729, #3e1d02 74%); }
  .pharaoh-mode .home-experiences .experience-v-line .v-line {
    background-color: #3e1d02;
    background-image: linear-gradient(0deg, #ff8729, #3e1d02 74%); }
  .pharaoh-mode .home-experiences .experience .experience-date {
    background-color: #594114;
    background-image: linear-gradient(326deg, #f2a71b 0%, #594114 74%);
    color: #ffffffe3; }
  .pharaoh-mode .home-experiences .experience .experience-info {
    color: #e3e1fa;
    background-color: #594114; }
    .pharaoh-mode .home-experiences .experience .experience-info .experience-title {
      color: #f2a71b; }
  .pharaoh-mode .home-experiences .experience-even .h-line {
    background-image: linear-gradient(327deg, #ff8729, #3e1d02 74%); }
  .pharaoh-mode .side-skills .side-skills-item .card {
    background-color: #624116f0;
    box-shadow: -2px -2px 5px #ffc10752;
    border: 0;
    color: #e3e1fa; }
  .pharaoh-mode .home-title span {
    color: #f2a71b; }
  .pharaoh-mode .features .feature-item .feature-image,
  .pharaoh-mode .category-details .category-name .category-icon {
    filter: hue-rotate(132deg); }
  .pharaoh-mode footer {
    background-color: #594114; }
  .pharaoh-mode footer.home-footer {
    background: linear-gradient(360deg, #594114 0%, #171a1c 100%); }
  .pharaoh-mode .arrows-svg .cls-1 {
    fill: #f2a71b; }
  .pharaoh-mode .dotted-square-svg .cls-2 {
    stroke: #f2a71b; }
  .pharaoh-mode .squares-pattern .cls-2 {
    fill: #f2a71b; }
  .pharaoh-mode .circles-pattern .cls-1 {
    fill: #f2a71b; }
  .pharaoh-mode .zigzag-svg .cls-1 {
    fill: #f2a71b; }
  .pharaoh-mode .contact-container .contact-form {
    background: #76470624; }
  .pharaoh-mode .contact-container .form-label b {
    border-bottom: 3px dotted #f2a71b; }
  .pharaoh-mode .form-custom-control:active,
  .pharaoh-mode .form-custom-control:focus,
  .pharaoh-mode .form-custom-control:focus-visible {
    background-color: transparent;
    color: #e3e1fa;
    box-shadow: 0 0 0 0.15rem #f2a71b6e;
    border-color: #ffc107; }
  .pharaoh-mode .custom-form-select:active,
  .pharaoh-mode .custom-form-select:focus,
  .pharaoh-mode .custom-form-select:focus-visible {
    box-shadow: 0 0 0 0.15rem #f2a71b6e;
    border-color: #ffc107; }
  .pharaoh-mode .custom-form-select option {
    background: #f2a71b6e;
    color: #212529; }
  .pharaoh-mode .custom-form-select:disabled {
    background-color: #261a0170; }
  .pharaoh-mode .title-line {
    color: #f2a71b; }
  .pharaoh-mode .btn-main-light {
    color: #594114; }
    .pharaoh-mode .btn-main-light:hover {
      background-color: #594114;
      color: #e3e1fa; }
  .pharaoh-mode .btn-main-light.active {
    color: #e3e1fa; }
  .pharaoh-mode .blog-filter button span {
    color: #594114; }
  .pharaoh-mode .blog-filter button:hover span {
    background-color: #594114;
    color: #e3e1fa; }
  .pharaoh-mode .blog-page .blog-details .blog-title {
    color: #f2a71b;
    border-bottom: 2px solid #f2a71b; }
  .pharaoh-mode .blog-page .blog-content {
    border-left: 4px solid #f2a71b; }
  .pharaoh-mode .badge-secondary {
    color: #594114; }
  .pharaoh-mode .contact-form-container .dotted-square-svg .cls-2 {
    fill: #f2a71b; }

/*# sourceMappingURL=style.css.map */
