@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Moonfark;
    src: url("../fonts/Moonfark/moonfark.ttf");
}
@font-face {
    font-family: Pharaoh;
    src: url("../fonts/Pharaoh/AlphacodePharaohRegular.ttf");
}

@import "./variables/variables.module.scss";

body {
    background-color: $primaryDark;
    color: $primaryWhite;
    filter: blur(0);
    transition: filter 1s;
}
:root {
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: auto !important;
    }
}

* {
    font-family: "Lato", Arial, sans-serif;
    font-display: auto;
}

.glass-header {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid #ffffff33;
    padding: 2px 0;
    .nav-row {
        height: 40px;
    }
    .nav-links .links div a {
        text-shadow: 0 0 5px #2125298c;
    }
    .header-logo {
        width: 25px;
    }
    .logo-loader {
        top: -10px;
        width: 20px;
        height: 20px;
    }
}
.main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 200ms;
    .container .row {
        align-items: center;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
        .links {
            display: flex;
            justify-content: space-between;
            width: 50%;
            div {
                margin: 0 0 0 20px;
                a {
                    color: $primaryWhite;
                    font-weight: bold !important;
                    font-size: 18px;
                    transition: 350ms ease-in-out;
                    &:hover {
                        animation: borderSlide 2s;
                        color: $primaryColor;
                    }
                }

                a.active {
                    color: $primaryColor;
                }

                &:last-of-type {
                    margin-top: 3px;
                }
            }
        }
    }
}
.nav-icon {
    display: none;
    cursor: pointer;

    .menu-burger-icon {
        display: block;
        float: right;
        .check-icon {
            display: flex;
            flex-direction: column;
            width: 40px;
            cursor: pointer;
            span {
                background: $primaryWhite;
                border-radius: 10px;
                height: 4px;
                margin: 4px 0;
                transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            }

            span:nth-of-type(1) {
                width: 50%;
                margin-left: 17px;
            }

            span:nth-of-type(2) {
                width: 100%;
            }

            span:nth-of-type(3) {
                width: 75%;
                margin-left: 4px;
            }

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked ~ span:nth-of-type(1) {
                transform-origin: bottom;
                margin-left: 0;
                transform: rotateZ(45deg) translate(8px, 0);
            }

            input[type="checkbox"]:checked ~ span:nth-of-type(2) {
                transform-origin: top;
                transform: rotateZ(-45deg);
            }

            input[type="checkbox"]:checked ~ span:nth-of-type(3) {
                transform-origin: bottom;
                margin-left: 0;
                width: 50%;
                transform: translate(17px, -7px) rotateZ(45deg);
            }
        }
    }
}

.bordered-link {
    border: 2px solid;
    border-radius: 15px;
    padding: 4px 12px;
    font-size: 16px !important;
}

@media screen and (max-width: 767px) {
    .main-logo {
        padding-left: 5%;
    }
    .landing-icon {
        display: none;
    }
    .nav-links {
        position: fixed;
        display: none !important;
        background-color: #100126;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        padding: 0;
        top: 0;
        left: 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        z-index: 1000;
        .links {
            height: 100vh;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            display: grid !important;
            padding: 30% 0;
            align-items: center !important;
            justify-content: center !important;
            background-color: $primaryDark;
            align-content: baseline;
            div {
                display: none;
                margin: 15px 0;
                a {
                    font-size: 35px !important;
                }
                &:last-of-type {
                    margin-top: 0 !important;
                }
            }
        }
    }
    .nav-icon {
        padding: 0;
        display: block;
        z-index: 1001;
    }
    .bordered-link {
        border: 0;
        border-radius: unset;
        padding: unset;
        font-size: auto;
    }
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.bg-home-even,
.bg-home-odd {
    padding: 1% 0 3% 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.bg-home-even {
    background-color: $primaryDark;
    background: linear-gradient(180deg, $primaryDark 75%, $primaryBlack 100%);
}

.bg-home-odd {
    background-color: $primaryBlack;
    background: linear-gradient(180deg, $primaryBlack 85%, $primaryDark 100%);
}
.home-content > div:last-of-type {
    background: $primaryBlack;
}

.width-fit-content {
    width: fit-content;
    max-width: fit-content;
}

.bg-main {
    background-color: $primaryColor;
}
.bg-second {
    background-color: $primaryWhite;
}

.bg-main-dark {
    background-color: $primaryDark;
}
.bg-main-white {
    background-color: $primaryWhite;
}

.text-main-dark {
    color: $primaryDark;
}

.text-main-white {
    color: $primaryWhite;
}

.no-link {
    color: #f7f7f7;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.text-reset {
    text-decoration: none;
}

.main-logo {
    font-size: 25px;
    span:first-of-type {
        color: #f7f7f7;
    }
    span:nth-of-type(2) {
        color: green;
    }
    span:last-of-type {
        color: #f7f7f7;
    }
}
.main-background-cover {
    background-color: $primaryDark;
    width: 100%;
    height: 100vh;
}
$blurSvgDuration: 20s;
.blur-background {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    z-index: 0;
    overflow: hidden;
}

.top-content {
    padding-top: 13vh;
    z-index: 1;
    position: relative;
}
.mode-icon {
    width: 25px;
}

.switch-button-content {
    .switch-button {
        user-select: none;
        background-color: #0e0e0e;
        text-align: center;
        border-radius: 7px;
        padding: 10px 0;
        overflow: hidden;
        cursor: pointer;

        .stars-svg-container {
            position: relative;
            .stars-svg {
                width: 15px;
                position: absolute;
                animation: rotator 25s ease infinite forwards;
                path {
                    stroke: none;
                    animation: starFade 2s ease-in-out infinite forwards;
                }
            }
        }

        &.default {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primaryDark;
            box-shadow: -2px -2px 5px #283593;
            span {
                font-family: "Lato", Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                color: $primaryWhite;
                background: unset;
                -webkit-background-clip: unset;
                -moz-background-clip: unset;
                background-clip: unset;
            }
        }

        span {
            position: relative;
            font-family: "Moonfark", Arial, sans-serif;
            font-size: 25px;
            color: transparent;
            background: linear-gradient(
                90deg,
                #224160 10%,
                rgba(146, 184, 222, 1) 15%,
                rgba(34, 65, 96, 1) 50%
            );
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            transition: 1s ease-in-out;
        }

        transition: 500ms ease-in-out;
        &:hover {
            box-shadow: 5px 4px 9px #000000bf, inset 2px 4px 7px #ffffff1a;
            transform: scale(1.01);
        }

        &:hover span {
            filter: drop-shadow(-1px 1px 2px #75adfb59);
        }
    }
}

@keyframes starFade {
    0% {
        filter: drop-shadow(0 0 0 #fff);
    }
    50% {
        filter: drop-shadow(0 0 2px #fff);
    }
    100% {
        filter: drop-shadow(0 0 0 #fff);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes textShadow {
}

.top-home-details {
    display: grid;
    height: 85%;
    align-items: center;
    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        .gradient-text {
            color: transparent;
            background-image: linear-gradient(
                90deg,
                $primaryBlue 0,
                $secondaryColor 100%
            );
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }

        span {
            position: relative;
        }
        span:nth-of-type(1) {
            animation: fadeSlideText 1200ms
                cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
        span:nth-of-type(2) {
            animation: fadeSlideText 1500ms
                cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
    }

    h4 {
        position: relative;
        color: $primaryWhite;
        font-family: monospace;
        font-size: 20px;
        font-weight: bold;
        animation: fadeSlideText 1700ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    p {
        color: $primaryWhite;
        font-size: 23px;
        span {
            background: linear-gradient(transparent 50%, $primaryColor 15px);
            display: inline;
            white-space: pre-wrap;
            background-position: right bottom;
            font-weight: bold;
        }
    }
}

@keyframes fadeSlideText {
    0% {
        opacity: 0;
        left: -25%;
        text-shadow: 0 0 5px $primaryWhite;
    }
    100% {
        opacity: 1;
        left: 0;
        text-shadow: unset;
    }
}

@media screen and (max-width: 767px) {
    .main-background-cover {
        .top-content {
            padding-top: 1vh;
        }
        .blur-background {
            visibility: hidden;
        }
        .top-home-details h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }
        .top-home-videos {
            padding-top: 20px;
        }
        .top-home-videos video {
            width: 100%;
        }
    }
}

/* Global Styles for small screens */
@media screen and (max-width: 767px) {
    @for $i from 0 through 6 {
        .mt-sm-#{$i} {
            margin-top: #{$i}rem !important;
        }
        .mb-sm-#{$i} {
            margin-bottom: #{$i}rem !important;
        }
        .ms-sm-#{$i} {
            margin-left: #{$i}rem !important;
        }
        .me-sm-#{$i} {
            margin-right: #{$i}rem !important;
        }
    }
}

.transparent-button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

@mixin transition(
    $property: all,
    $duration: 0.45s,
    $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
    transition: $property $duration $ease;
}

.discover-more-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
    .discover-circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $primaryWhite;
        border-radius: 1.625rem;
        .discover-icon {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            bottom: 0;
            color: $primaryBlack;
            top: 27%;
            right: 25%;
            font-size: 21px;
        }
    }
    .discover-button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 2.85rem;
        color: $primaryWhite;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
    &:hover {
        .discover-circle {
            width: 100%;
        }
        .discover-icon {
            margin: 0;
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            right: 5%;
            top: 30%;
        }
        .discover-button-text {
            margin: 0 10px 0px 0px;
            color: $primaryBlack;
        }
    }
}

@keyframes discoverAnimate {
    0% {
        right: 0%;
    }
    100% {
        right: 43%;
    }
}

.social-icons {
    .social-link {
        font-size: 20px;
    }
    .social-link-1 {
        svg {
            fill: #0961b8;
        }
    }
    .social-link-2 {
        svg {
            fill: #343a40;
        }
    }
    .social-link-3 {
        svg {
            fill: #e87921;
        }
    }
    .social-link-4 {
        svg {
            fill: #0053f2;
        }
    }
    .social-link-5 {
        svg {
            fill: #808080;
        }
    }
    .social-link-6 {
        svg {
            fill: #1877f2;
        }
    }
    .social-link-7 {
        svg {
            fill: #1da1f2;
        }
    }
    .social-link-8 {
        svg {
            fill: #833ab4;
        }
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.contact-container {
    margin-top: 15px;
    .contact-form {
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: #0c001f1f;
        box-shadow: 0 4px 30px #0000001a;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(5px);
        padding: 10px 20px;
    }

    .contact-image-container,
    .contact-form-container {
        height: 75vh !important;
    }

    .contact-form-container {
        position: relative;
    }

    .contact-form-container .contact-form {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 0;
    }
    .contact-image-container img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .form-label {
        b {
            border-bottom: 3px dotted $primaryColor;
            padding-bottom: 1px;
        }
    }
}

.form-custom-control {
    background-color: transparent;
    color: $primaryWhite;
    border-color: $primaryWhite;
    &::placeholder {
        color: $primaryWhite;
        font-weight: bold;
    }

    &:active,
    &:focus,
    &:focus-visible {
        background-color: transparent;
        color: $primaryWhite;
        box-shadow: 0 0 0 0.15rem #884dff4f;
        border-color: $primaryColor;
    }

    &:disabled {
        background-color: #10012670;
    }
}
.custom-form-select {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid $primaryWhite;
    color: $primaryWhite;
    font-weight: bold;
    border-radius: 5px;
    &:active,
    &:focus,
    &:focus-visible {
        box-shadow: 0 0 0 0.15rem #884dff4f;
        border-color: $primaryColor;
        outline: 0;
    }

    &:disabled {
        background-color: #10012670;
    }
    option {
        margin: 40px;
        background: $primaryDark;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 992px) {
    .contact-container {
        position: relative;
        overflow: hidden;

        .contact-image-container,
        .contact-form-container,
        .contact-image-container img {
            height: 100% !important;
        }

        .contact-image-container img {
            filter: brightness(0.4);
        }
    }
    .contact-image-container {
        padding: 0 !important;
        margin-left: 7px;
        border-radius: 15px;
    }
    .contact-form {
        border-radius: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
    }
    .contact-image-container {
        position: absolute;
        z-index: -1;
    }
    .contact-form-container {
        padding-right: 1rem !important;
        button {
            width: 100%;
        }
    }
}
.side-skill {
    width: fit-content;
    max-width: 25px;
    max-height: 25px;
}

@mixin limitedLetters {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home-blogs {
    .blog-description {
        @include limitedLetters;
    }
}

// Blogs Page
.blog-item {
    .blog-card {
        box-shadow: 0 0 7px #ffffff8c;
        border: 0;
    }
    .card {
        max-height: 480px;
        min-height: 480px;
        height: 480px;
        box-shadow: inset -1px -4px 20px #00000054;
        background-color: $primaryWhite;

        .blog-skills {
            display: grid;
            align-items: end;
        }
    }
    a,
    p {
        color: #0d161e;
        text-decoration: none;
    }
    .blog-title {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        @include limitedLetters;
    }
    .blog-description {
        text-align: left;
        @include limitedLetters;
    }

    &:hover .card-img-top {
        transform: scale(1.1) rotateZ(0.5deg);
    }

    .blog-card-image-container {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 200px;
        overflow: hidden;
        // box-shadow: 0 -1px 20px $primaryDark;
        img {
            height: 200px;
            transition: 650ms;
        }
    }

    .blog-date {
        font-weight: bold;
        color: $secondaryTextColor;
        text-align: right;
    }
}

.spinner {
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-logo {
    width: 30px;
}
.contact-image {
    width: 100%;
    height: 100%;
}

.project-image-container {
    text-align: center;
}

.project-image {
    height: 195px;
    transition: 250ms;

    &:hover {
        transform: scale(1.055) translateZ(20px) rotateZ(1deg) rotateX(1deg)
            rotateY(-1deg);
    }
}

.project-title {
    text-align: center;
}

.project-title,
.project-description {
    color: $primaryWhite;
    text-align: center;
}

.project-skill-icon {
    width: 25px;
    height: 25px;
}

// Home Experience Styles
.home-experiences {
    overflow: hidden;
    .experience-h-line {
        width: 5%;
        display: grid;
        align-items: center;
        .h-line {
            display: block;
            height: 3px;
            border: 0;
            background-color: #a4508b;
            background-image: linear-gradient(90deg, #a4508b, #5f0a87 74%);
            padding: 0;
        }
    }

    .experience-v-line {
        width: 5%;
        display: grid;
        align-items: center;
        .v-line {
            background-color: #a4508b;
            background-image: linear-gradient(0deg, #a4508b, #5f0a87 74%);
            height: 76%;
            width: 3px;
            position: absolute;
            top: 50%;
            right: 50%;
            z-index: 0;
        }
    }

    .experience {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        .experience-details {
            display: flex;
            border-radius: 10px;
            width: 60%;
            z-index: 1;
            box-shadow: -2px 5px 15px #00000054;
            overflow: hidden;
        }
        .experience-date {
            background-color: #a4508b;
            background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
            color: #ffffffe3;
            font-weight: bold;
            display: grid;
            align-items: center;
            text-align: center;
            width: 20%;
            padding: 15px;
        }
        .experience-info {
            color: $primaryWhite;
            background-color: $primaryDark;
            font-weight: bold;
            padding: 15px;
            width: 80%;
            .experience-title {
                color: #9c27b0;
                font-weight: bold;
                margin-bottom: 2px;
            }
            .experience-description {
                font-size: 14px;
            }

            .experience-content {
                background-color: #ffffff00 !important;
                color: $primaryWhite !important;
            }
        }
        .experience-image {
            position: relative;
            width: 8%;
            display: grid;
            align-items: center;
            .experience-company-logo {
                img {
                    position: relative;
                    background-color: $primaryWhite;
                    z-index: 1;
                    width: 90px;
                    height: 90px;
                    max-width: 90px;
                    min-height: 90px;
                    max-height: 90px;
                    border-radius: 50%;
                    box-shadow: -2px 3px 5px #00000066;
                }
            }
        }
    }

    .experience-even {
        direction: rtl;
        .experience-details {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;

            .experience-info {
                direction: ltr;
                text-align: left;
            }
        }
        .h-line {
            background-image: linear-gradient(327deg, #a4508b, #5f0a87 74%);
        }
    }
    .experience-odd {
        .experience-details {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            .experience-info {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .home-experiences {
        // margin: 0 5%;
        .experience {
            display: grid;
            justify-content: normal;
            .experience-details {
                width: 100%;
                display: grid;
                order: 2;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .experience-company-logo {
                margin-bottom: 10%;
            }
            .experience-image {
                order: 1;
                width: 100%;
                margin: 0 auto;
            }

            .experience-h-line {
                display: none;
            }
        }
    }
    .home-experiences {
        .experience-details {
            display: grid;

            .experience-info {
                width: 100%;
            }

            .experience-date {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 484px) {
}
// Single Blog Post Page
.blog-page {
    margin-top: 5vh;
    .blog-details {
        .blog-title {
            color: $primaryColor;
            border-bottom: 2px solid $primaryColor;
            height: fit-content;
        }

        .blog-image {
            width: 100%;
            height: 350px;
            max-height: 350px;
            border-radius: 10px;
            box-shadow: -2px -2px 6px #ffffff3d;
        }
    }

    .blog-content {
        border-left: 4px solid $primaryColor;
        border-radius: 10px;
        padding-left: 10px;
        overflow: hidden;
    }

    .blog-info {
        display: grid;
    }
}
.d-grid {
    display: grid;
}
.font-weight-bold {
    font-weight: bold;
}

.badge-secondary {
    background-color: $primaryWhite;
    color: $primaryDark;
    box-shadow: 3px 4px 3px #0009;
    transition: 0.2s ease;

    &:hover,
    &:active {
        transform: translateY(-2px);
        box-shadow: -3px -2px 7px #e3e1fa6b;
    }
}

.form-container {
}
.contact-form {
    transition: 500ms ease-in-out;
}
.contact-form.disabled {
    filter: blur(2px);
    opacity: 0.5;
}

.contact-form.enabled {
    filter: blur(0);
    opacity: 1;
}

.contact-form-loader,
.contact-form-success {
    div {
        height: 100%;
    }
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
}
.contact-form-success div {
    width: 75%;
    margin: 0 auto;
}

@keyframes blurIn {
    0% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        filter: blur(2px);
        opacity: 0.5;
    }
}
@keyframes blurOut {
    0% {
        filter: blur(2px);
        opacity: 0.5;
    }
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.flash-effect {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #212529;
    opacity: 0;
}

.social-links {
    border-bottom: 1px solid #ffffff21;
}

.category-details {
    .category-name {
        display: flex;
        .category-icon {
            width: 35px;
            height: 35px;
        }
        h4 {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
            }
        }
    }
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.skill-card {
    border: 0;
    border-radius: 5px;
    padding: 10px;

    .img-container {
        position: relative;
        .skill-img {
            position: absolute;
            top: -40px;
            right: -24px;

            filter: drop-shadow(2px 4px 3px #000);
            width: 15%;
        }
    }
}

.custom-hr {
    border-top: 2px solid;
}

.text-hack-animation:hover {
    background: linear-gradient(
        271deg,
        rgba(227, 225, 250, 0.2693452381) 0%,
        #e3e1fa 100%
    );
    color: $primaryDark;
}

.blog-filter {
    display: flex;
    align-items: center;
    button {
        margin: 0 5px;

        span {
            background-color: $primaryWhite;
            color: $primaryDark;
            padding: 0 5px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            top: -10px;
        }

        &:hover span {
            background-color: $primaryDark;
            color: $primaryWhite;
            box-shadow: 2px -4px 6px #ffffff5e;
        }
    }

    &::-webkit-scrollbar {
        width: 0.1em;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

@media screen and (max-width: 767px) {
    .blog-filter {
        overflow-y: scroll;
        width: 100%;
        padding-top: 10px;
        button {
            min-width: fit-content;
        }
    }
}

.reveal-fade {
    opacity: 1 !important;
    transform: none !important;
}

.not-found-content {
    border-radius: 10px;
    padding-top: 10vh;
    text-align: center;
    img.not-found {
        border-radius: 10px;
        max-height: 300px;
        max-width: 575px;
        width: 100%;
        height: 100%;
    }
    h1,
    p {
        font-family: monospace;
        margin-top: 2%;
    }
}

.btn-main-light {
    border: 1px solid $primaryWhite;
    background-color: $primaryWhite;
    color: $primaryDark;

    &:hover {
        background-color: $primaryDark;
        color: $primaryWhite;
        box-shadow: -3px -2px 7px #ffffff8f;
    }
}

.badge-main-dark {
    display: contents;
    background-color: $primaryDark;
    color: $primaryWhite;
}

.btn-counter {
    position: absolute;
}

.mt-15 {
    margin-top: 15%;
}

.skills {
    position: relative;
    overflow: hidden;
    svg {
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 1;
    }

    .skills-major-container {
        .skills-major {
            margin-top: 3%;
        }
        padding: 5px 0;
    }

    .skills-details-container {
        padding: 5px 0;

        .category-skills {
            .skills-list {
                margin: 0;
            }
        }
    }
}

.skills-loader-canvas {
    text-align: center;
}

.features {
    .feature-item {
        margin-top: 10px;
        .feature-image {
            width: 60px;
            height: 60px;
        }
    }
}

.side-skills {
    .side-skills-item {
        .card {
            background-color: #2e194e;
            box-shadow: -2px -2px 5px #e6b7f561;
            color: $primaryWhite;
        }
        .skills {
            .side-skill-icon {
                width: 25px;
                height: 25px;
            }
        }
        .side-skills-image {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 767px) {
    .skill-card {
        .img-container {
            .skill-img {
                top: -115px;
                right: 10px;
            }
        }
    }
}
.project-box {
    text-align: center;
    .project-description {
        background: linear-gradient(transparent 50%, #c9c9c92e 15px);
        display: inline;
        white-space: pre-wrap;
        background-position: right bottom;
        text-align: center;
    }
}
// Single Project Page
$mockupWidth: 90%;
.project-page {
    .project-content img {
        max-width: -webkit-fill-available;
    }
    .project-skills {
        img.project-skill {
            width: 35px;
            height: 35px;
        }
    }

    .project-title,
    .project-description {
        text-align: left;
    }
    .project-images-container {
        position: relative;
        text-align: center;
        overflow: hidden;
        .laptop-mockup {
            width: $mockupWidth;
            z-index: 1;
            position: relative;
        }

        .project-item-image {
            width: 23rem;
            height: 15rem;
            border-radius: 10px;
            // transform: translateX(91px);

            .inactive {
                filter: blur(1px);
            }
            .active {
                filter: blur(0);
            }
        }

        .project-images {
            position: absolute;
            // transform: translateX(-109px);
            top: 10px;
            display: flex;
            overflow: hidden;
            gap: 40px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-item-image {
        width: 19.7rem !important;
        height: 12rem !important;
        transform: translateX(-43px);
    }
}
@media screen and (max-width: 992px) {
    .project-item-image {
        width: 14.7rem !important;
        height: 9rem !important;
        transform: translateX(-103px);
    }
}
@media screen and (max-width: 768px) {
    .project-item-image {
        width: 22rem !important;
        height: 14rem !important;
        transform: translateX(-16px);
    }
}

@media screen and (max-width: 576px) {
    .laptop-mockup {
        width: 220px;
        max-width: 220px;
        min-width: 220px;
    }
    .project-page .project-images-container .project-images {
        top: 5px;
    }
    .project-images-container {
        min-width: 220px;
        width: 300px;
        margin: 0 auto;
    }

    .project-item-image {
        width: 170px !important;
        height: 105px !important;
        transform: translateX(-33px);
    }
}
.splide__arrows.splide__arrows--ltr {
    z-index: 1;
    position: relative;
    top: 50%;
}
.overflow-hidden {
    overflow: hidden;
}
footer {
    background-color: $primaryDark;
}
footer.home-footer {
    background: linear-gradient(360deg, $primaryDark 0%, $primaryBlack 100%);
}

.footer-container {
    position: relative;
}
.footer-svg-container {
    opacity: 0.4;
}
.footer-name-container {
    .name-svg {
        position: absolute;
        width: 130px;
        left: 0;
        top: 60%;
        path {
            stroke: $primaryWhite;
            fill: none;
            opacity: 1;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer-name-container {
        .name-svg {
            left: 2%;
        }
    }
}

.footer-details {
    .user-profile,
    .pages-map,
    .user-info {
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        .pages-map,
        .user-info {
            border-top: 1px solid #ffffff21;
            padding-top: 15px;
        }

        .user-profile,
        .pages-map,
        .user-info {
            h6 {
                margin-bottom: 15px !important;
            }
        }
    }
}

@keyframes handwriting {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

.handwritten-svg {
    width: 500px;
    height: 500px;
}

.handwritten-svg path {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.home-title {
    color: $primaryWhite;
    font-weight: bold;
    padding-bottom: 2%;
    span {
        color: $primaryColor;
    }
}

.circles-pattern {
    .cls-2 {
        fill: none;
        // stroke: #1f1f1f;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.6px;
    }
}

.more-skills-icon {
    font-weight: bold;
    color: #e3e1fa;
    text-align: center;
    background-image: linear-gradient(
        62deg,
        #fbab7e 0%,
        $secondaryTextColor 100%
    );
    border-radius: 41px;
    box-shadow: 0 0 8px #f298298a, inset 0 0 8px #100126b3;
    width: fit-content;
    padding: 6px 4px;
    cursor: pointer;
    min-width: 32px;
    font-size: 13px;
    text-shadow: 0 0 4px $primaryDark;
    span {
        font-size: 13px;
        line-height: 1.2;
    }
}

.center-content {
    align-items: center;
    display: grid;
    justify-content: center;
}

// Side Alert
.side-alert {
    position: fixed;
}

.font-18 {
    font-size: 18px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.half-circle-pattern {
    z-index: 1;
    path {
    }
}

.ml-auto {
    margin-left: auto;
}
.project-duration {
    font-size: 13px;
    font-weight: bold;
    span {
        font-family: "Moonfark", Arial, sans-serif;
    }
}

.title-line {
    border-top: 3px dashed;
    border-radius: 3px;
    width: 65%;
    color: $primaryColor;
    opacity: 1;
}

.logo-loader-container {
    position: relative;
}
.logo-loader {
    position: absolute;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: $primaryWhite;
}
.logo-loader:nth-of-type(2) {
    transform: rotateZ(180deg);
}
.logo-loader:before,
.logo-loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.logo-loader:after {
    color: $primaryGreen;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
}
.top-home-videos video {
    width: 560px;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}

.smooth-hover {
    transition: 250ms ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.help-cursor {
    cursor: help;
}

.theme-transition-container {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: $primaryBlack;
    display: none;

    .glitched-text {
        // display: none;
        background-color: #010c1d;
        height: 100%;
        font-size: 14px;
        width: 100%;
        box-shadow: inset 0 0 15px 13px #000;
        font-family: monospace;
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        animation: glitch 725ms infinite;
        overflow: hidden;
        opacity: 0.7;
    }

    .pharaoh-container {
        position: relative;
        height: 100vh;
        opacity: 0.7;
        p {
            font-family: Pharaoh;
            font-size: 18px;
            color: #daa520;
            text-shadow: 5px 4px 7px #daa520;
        }
        img {
            width: 150px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            top: 25vh;
            right: 0;
            text-align: center;
        }
    }
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
        text-transform: capitalize;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
            0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
        text-transform: none;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
            -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
        text-transform: capitalize;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
            0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
            -0.04em -0.025em 0 #fffc00;
    }
}

.empty-skill-content {
    h5 {
        font-family: Courier, monospace;
    }
}

.dotted-square-svg {
    .cls-2 {
        stroke-miterlimit: 10;
        stroke-width: 0.89px;
    }
}

.content,
.skills,
.bg-home-even .container,
.bg-home-odd .container {
    background-size: 635px;
    background-image: url("../images/textures/stars.png");
}

.splide__list {
    .blog-item {
        width: 100%;
    }
}

/*  =============================================================================================
                        Custom Styles for pharaoh theme
    =============================================================================================
*/
.pharaoh-mode {
    background-color: $themePrimaryDark;
    .content,
    .skills,
    .bg-home-even .container,
    .bg-home-odd .container {
        background-size: 635px;
        background-image: url("../images/textures/pharaoh.png");
    }

    * {
        cursor: url("../images/scepter-cursor.png"), auto;
    }
    .logo-loader:after {
        color: $themePrimaryColor;
    }

    .blur-background {
        svg:first-of-type circle {
            fill: #ffe800;
        }
        svg:nth-of-type(2) circle {
            fill: #fff;
        }
    }

    // Start Header
    .main-nav {
        .nav-links {
            .links {
                div {
                    a {
                        color: $primaryWhite;
                        &:hover {
                            color: $themePrimaryColor;
                        }
                    }
                    a.active {
                        color: $themePrimaryColor;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .nav-links,
        .links {
            background-color: $themePrimaryDark;
        }
    }

    .top-home-details {
        h1 {
            .gradient-text {
                color: transparent;
                background-image: linear-gradient(
                    90deg,
                    #e3e1fa 0,
                    #f28705 100%
                );
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
            }
        }

        p {
            span {
                background: linear-gradient(
                    transparent 50%,
                    $themePrimaryColor 15px
                );
                color: #fff;
            }
        }
    }

    // End Header
    .main-background-cover {
        background-color: $themePrimaryDark;
    }
    .switch-button-content .switch-button.default {
        background-color: $themePrimaryDark;
        box-shadow: -1px -1px 4px $themePrimaryColor;
    }
    .bg-home-even {
        background-color: $themePrimaryDark;
        background: linear-gradient(
            180deg,
            $themePrimaryDark 75%,
            $primaryBlack 100%
        );
    }

    .bg-home-odd {
        background-color: $primaryBlack;
        background: linear-gradient(
            180deg,
            $primaryBlack 85%,
            $themePrimaryDark 100%
        );
    }

    .bg-main-dark {
        background-color: $themePrimaryDark;
    }
    .text-main-dark {
        color: $themePrimaryDark;
    }

    // Home Experience Styles
    .home-experiences {
        .experience-h-line {
            .h-line {
                background-color: #3e1d02;
                background-image: linear-gradient(90deg, #ff8729, #3e1d02 74%);
            }
        }

        .experience-v-line {
            .v-line {
                background-color: #3e1d02;
                background-image: linear-gradient(0deg, #ff8729, #3e1d02 74%);
            }
        }

        .experience {
            .experience-date {
                background-color: $themePrimaryDark;
                background-image: linear-gradient(
                    326deg,
                    $themePrimaryColor 0%,
                    $themePrimaryDark 74%
                );
                color: #ffffffe3;
            }
            .experience-info {
                color: $primaryWhite;
                background-color: $themePrimaryDark;

                .experience-title {
                    color: $themePrimaryColor;
                }
            }
        }
        .experience-even {
            .h-line {
                background-image: linear-gradient(327deg, #ff8729, #3e1d02 74%);
            }
        }
    }

    .side-skills {
        .side-skills-item {
            .card {
                background-color: #624116f0;
                box-shadow: -2px -2px 5px #ffc10752;
                border: 0;
                color: $primaryWhite;
            }
        }
    }

    .home-title {
        span {
            color: $themePrimaryColor;
        }
    }

    .features .feature-item .feature-image,
    .category-details .category-name .category-icon {
        filter: hue-rotate(132deg);
    }

    // Footer
    footer {
        background-color: $themePrimaryDark;
    }
    footer.home-footer {
        background: linear-gradient(
            360deg,
            $themePrimaryDark 0%,
            $primaryBlack 100%
        );
    }

    // SVG Colors
    .arrows-svg {
        .cls-1 {
            fill: $themePrimaryColor;
        }
    }

    .dotted-square-svg {
        .cls-2 {
            stroke: $themePrimaryColor;
        }
    }

    .squares-pattern {
        .cls-2 {
            fill: $themePrimaryColor;
        }
    }

    .circles-pattern {
        .cls-1 {
            fill: $themePrimaryColor;
        }
    }

    // Non effected styles
    .zigzag-svg {
        .cls-1 {
            fill: $themePrimaryColor;
        }
    }
    .contact-container .contact-form {
        background: #76470624;
    }
    .contact-container .form-label b {
        border-bottom: 3px dotted $themePrimaryColor;
    }
    .form-custom-control:active,
    .form-custom-control:focus,
    .form-custom-control:focus-visible {
        background-color: transparent;
        color: #e3e1fa;
        box-shadow: 0 0 0 0.15rem #f2a71b6e;
        border-color: #ffc107;
    }

    .custom-form-select:active,
    .custom-form-select:focus,
    .custom-form-select:focus-visible {
        box-shadow: 0 0 0 0.15rem #f2a71b6e;
        border-color: #ffc107;
    }

    .custom-form-select option {
        background: #f2a71b6e;
        color: #212529;
    }
    .custom-form-select {
        &:disabled {
            background-color: #261a0170;
        }
    }

    .title-line {
        color: $themePrimaryColor;
    }

    .btn-main-light {
        color: $themePrimaryDark;
        &:hover {
            background-color: $themePrimaryDark;
            color: $themePrimaryWhite;
        }
    }
    .btn-main-light.active {
        color: $themePrimaryWhite;
    }

    .blog-filter {
        button {
            span {
                color: $themePrimaryDark;
            }
            &:hover span {
                background-color: $themePrimaryDark;
                color: $themePrimaryWhite;
            }
        }
    }
    .blog-page {
        .blog-details {
            .blog-title {
                color: $themePrimaryColor;
                border-bottom: 2px solid $themePrimaryColor;
            }
        }
        .blog-content {
            border-left: 4px solid $themePrimaryColor;
        }
    }
    .badge-secondary {
        color: $themePrimaryDark;
    }

    .contact-form-container .dotted-square-svg .cls-2 {
        fill: $themePrimaryColor;
    }

    // End non effected styles
}
