@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Pharaoh;
    src: url("../fonts/Pharaoh/AlphacodePharaohRegular.ttf");
}

$primaryColor: #1e2629;
$secondaryColor: #0d161e;

* {
    font-family: Lato;
}

.main-nav {
    .nav-links {
        display: flex;
        justify-content: flex-end;
        .links {
            display: flex;
            justify-content: space-between;
            width: 335px;
        }
    }
}
.nav-links {
    .links {
        a {
            font-weight: bold !important;
        }
    }
}
.width-fit-content {
    width: fit-content;
}

.bg-main {
    background-color: $primaryColor;
}
.bg-second {
    background-color: $secondaryColor;
}

.no-link {
    color: #f7f7f7;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.text-reset {
    text-decoration: none;
}

.main-logo {
    font-size: 25px;
    span:first-of-type {
        color: #f7f7f7;
    }
    span:nth-of-type(2) {
        color: green;
    }
    span:last-of-type {
        color: #f7f7f7;
    }
}
.main-background-cover {
    background-image: url("../images/background_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.top-content {
    padding-top: 23vh;
}
.mode-icon {
    width: 25px;
}
.transparent-button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
    $property: all,
    $duration: 0.45s,
    $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
    transition: $property $duration $ease;
}

.discover-more-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    //   &.learn-more {
    width: 12rem;
    height: auto;
    .discover-circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;
        .discover-icon {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            color: $white;
            margin: 27% -18%;
            font-size: 21px;
            &.arrow {
                @include transition(
                    all,
                    0.45s,
                    cubic-bezier(0.65, 0, 0.076, 1)
                );
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                    position: absolute;
                    content: "";
                    top: -0.25rem;
                    right: 0.0625rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid #fff;
                    border-right: 0.125rem solid #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .discover-button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 2.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
    //   }
    &:hover {
        .discover-circle {
            width: 100%;
            .discover-icon {
                &.arrow {
                    color: $white;
                    transform: translate(1rem, 0);
                }
            }
        }
        .discover-icon {
            margin: 7% -37%;
        }
        .discover-button-text {
            color: $white;
        }
    }
}

.social-icons {
    a {
        font-size: 20px;
    }
    a:first-of-type {
        svg {
            fill: #0961b8;
        }
    }
    a:nth-of-type(2) {
        svg {
            fill: #1a1d21;
        }
    }
    a:nth-of-type(3) {
        svg {
            fill: #e87921;
        }
    }

    a:nth-of-type(4) {
        svg {
            fill: #0053f2;
        }
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}
.contact-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);

    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.side-skill {
    width: fit-content;
    max-width: 25px;
    max-height: 25px;
}
